@import 'tailwindcss';
@import './markdown.css';
@config '../tailwind.config.cjs';

@theme {
    --color-purple-dark: #9d7cd8;
    --color-purple: #bb9af7;
    --color-red: #ff757f;
    --color-green: #c3e88d;
    --color-yellow: #ffc777;

    --border-color-xlight: #292929;
    --border-color-light: #191919;
    --border-color-medium: #0c0c0c;
    --border-color-dark: #0b0b0b;

    --background-color-xlight: #292929;
    --background-color-light: #191919;
    --background-color-medium: #0c0c0c;
    --background-color-dark: #0b0b0b;

    --text-color-light: rgba(255, 255, 255, 0.75);
    --text-color-light-lite: #999999;
    --text-color-medium: #666666;
    --text-color-dark: #333333;

    --height-titlebar: 60px;

    --width-nav: 80px;

    --height-content: calc(100% - var(--height-titlebar));
    --width-content-minus-nav: calc(100dvw - var(--width-nav));
}

@utility noscrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    src: url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf');
}

*::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: 1px solid var(--border-color-light);
    border-radius: 6px;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

html,
body {
    background: var(--background-color-dark);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: var(--text-color-light);
}

html[data-theme='light'] {
    @import 'highlight.js/styles/base16/solar-flare-light.css';

    --color-purple-dark: #7c5fc0;
    --color-purple: #7c5fc0;
    --color-red: #d7263d;
    --color-green: #4caf50;
    --color-yellow: #ffd600;

    --border-color-light: #f0f0f0;
    --border-color-light: #e0e0e0;
    --border-color-medium: #f5f5f5;
    --border-color-dark: #ffffff;

    --background-color-light: #ffffff;
    --background-color-medium: #f5f5f5;
    --background-color-dark: #e0e0e0;

    --text-color-light: #222222;
    --text-color-light-lite: #999999;
    --text-color-medium: #666666;
    --text-color-dark: #bbbbbb;

    --toggle-gradient: linear-gradient(to bottom, #ccc, #eee);
    --toggle-color: #fff;

    --loading-light: #999;
    --loading-dark: #9995;
}

html[data-theme='dark'] {
    @import 'highlight.js/styles/tokyo-night-dark.css';

    --color-purple-dark: #9d7cd8;
    --color-purple: #bb9af7;
    --color-red: #ff757f;
    --color-green: #c3e88d;
    --color-yellow: #ffc777;

    --border-color-xxlight: #333333;
    --border-color-xlight: #292929;
    --border-color-light: #1c1c1c;
    --border-color-medium: #0c0c0c;
    --border-color-dark: #0b0b0b;

    --background-color-light: #191919;
    --background-color-medium: #0c0c0c;
    --background-color-dark: #0b0b0b;

    --text-color-light: rgba(255, 255, 255, 0.75);
    --text-color-light-lite: #999999;
    --text-color-medium: #666666;
    --text-color-dark: #333333;

    --toggle-gradient: linear-gradient(to bottom, #111, #333);
    --toggle-color: #ccc;

    --loading-light: #fff;
    --loading-dark: #fff2;
}

html[data-theme='light'],
body[data-theme='light'] {
    background: var(--background-color-medium);
    color: #222;
}

html[data-theme='dark'],
body[data-theme='dark'] {
    background: #0b0b0b;
    color: #fff;
}

input,
textarea {
    outline: 0;
    transition-property: border;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

input:focus,
textarea:focus {
    border: 1px solid color-mix(in srgb, var(--color-purple) 40%, transparent);
}

input::placeholder,
textarea::placeholder {
    color: var(--text-color-dark);
}

button:hover {
    cursor: pointer;
}
